* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background: linear-gradient(to top, #005aa7, #fffde4);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 50px;
  display: flex;
  align-items: center;
}

.com {
  font-size: 23px;
}

.home-button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.145);
  margin: 0 30px;
  color: #070707;
  padding: 7px 30px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}

.home-button:active {
  background-color: rgba(114, 66, 66, 0.384);
  color: azure;
}

.App {
  text-align: center;
  /* border: 2px solid green; */
  background: url("./1708371831466.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.show-buttons {
  display: flex;
}

.hide-buttons {
  display: none;
}

#main {
  /* border: 2px solid yellow; */
  margin: 70px 0;
  width: min(96vw, 1200px);
  height: 80vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(7px) saturate(180%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  /* border: 2px solid yellow; */
  width: 50%;
  margin: 20px;
  height: 60%;
  display: flex;
  align-items: center;
  font-size: 27px;
  color: antiquewhite;
  font-family: "Dancing Script", cursive;
  font-weight: 500px;
  font-style: normal;
  word-spacing: 4px;
  font-size: 33px;
  font-style: normal;

}

.meta {
  /* border: 2px solid yellow; */
  width: 30%;
  margin: 20px 60px 20px 0;
  background: url("./ad75b7b113ac422080d6ce73d379de6e.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  height: 40%;
  padding: 10px;
  display: flex;
  color: azure;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  #main {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .description {
    width: 90%;
    font-size: 27px;
    height: fit-content;
    padding: 30px 0;
  }

  .meta {
    width: 70%;
    margin: 20px 0;
  }

  .text {
    height: 150px;
  }
}


#connect, .btn {
  color: rgb(247, 247, 247);
  background-color: rgba(0, 0, 0, 0.688);
  margin: 10px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}

.btn:active {
  background-color: rgba(124, 255, 37, 0.925);
}

#connect:active {
  background-color: rgba(5, 255, 5, 0.842);
}

#award {
  /* border: 2px solid green; */
  padding: 10px;
  background: linear-gradient(90deg, rgba(169, 170, 162, 1) 0%, rgba(6, 29, 63, 1) 14%, rgba(95, 170, 207, 1) 25%, rgba(24, 145, 170, 1) 40%, rgba(8, 190, 227, 1) 80%, rgba(7, 106, 126, 1) 92%, rgba(2, 186, 223, 1) 98%, rgba(7, 109, 130, 1) 100%);
  width: min(1200px, 96vw);
  margin: 90px 0;
  border-radius: 10px;
  height: fit-content;
}

#align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fill {
  width: min(90vw, 300px);
  height: 40px;
  margin: 10px;
  padding: 2px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.text {
  height: 250px;
  padding: 10px;
}

#green {
  background: rgb(56, 213, 74);
  width: 90px;
  height: 40px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(35, 35, 35);
  border: none;

}

#green:active {
  background-color: rgba(116, 243, 116, 0.982);
}

#check, #achievement, #burn {
  /* border: 2px solid gold; */
  width: min(98vw, 800px);
  margin: 90px 0;
  padding: min(5vw, 20px);
  color: white;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(7px) saturate(180%);
  border-radius: 10px;
}

#achievement {
  width: min(98vw, 1200px)
}

.btn {
  font-size: 12px;
}

.bt2 {
  width: 90%;
  font-size: large;
  padding: 20px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.923);
  backdrop-filter: blur(12px) saturate(180%);
  margin: 15px 0;
  color: black;
}

.navigate {
  /* border: 2px solid green; */
  height: 60%;
  margin: 80px 0 40px 0;
  display: flex;
  flex-direction: column;
  width: min(90%, 1200px);
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(7px) saturate(180%);
  border-radius: 10px;
  justify-content: center;

}

.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ach-com {
  list-style: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  width: 400px;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
}

.border-bottom {
  border-bottom: 2px solid white;
  padding: 7px;
}